
{% extends 'proteomescout/base.html' %}

{% block content %}
  <!-- <div class="formwrapper">
    <form method=post>
      <div class="logo">
        <img src="{{ url_for('static', filename='images/ptmscout_splash.png') }}">
      </div>
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
      {% endfor %}
      <h1>Log In</h1>
      <div class="form-field">

         {{ form.username.label }}
         {{ form.username }}
         {% if form.username.errors %}
           <ul class="errors">
             {% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}
           </ul>
         {% endif %}
      </div>
      <div class="form-field">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="submitbutton">
        <input id="submit" type="submit" value="Submit">
      </div>
      <div class="loginsignup">
        <span>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up.</a><span>
        </div>
    </form>
  </div> -->

  <div class = "container">
    <div class = "card card-body bg-light">
       <!-- Flash messages section -->
       {% for message in get_flashed_messages() %}
       <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           {{ message }}
       </div>
     {% endfor %}

     
    <form method=post>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Your username.">
        {% if form.username.errors %}
            <ul class="errors">
              {% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
          {% endif %}
          <br>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">
        {% if form.password.errors %}
            <ul class="errors">
              {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
          {% endif %}
      </div>
      <p>
        Forgot Your Password?
        <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
      </p>
      
      <!-- <div class="submitbutton">
        <input id="submit" type="submit" value="Submit">
      </div> -->
      <button type="submit" class="btn btn-primary">Submit</button>
      <div class="loginsignup">
        <span>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up.</a><span>
      </div>
    </form>
  </div>
</div>



{% endblock %}