
{% extends 'proteomescout/base.html' %}
{% block content %}
<div class = "card card-body bg-light">
  <div class="formwrapper">
    <form method=post>
      <div class="logo">
        <img src="{{ url_for('static', filename='dist/img/logo.png') }}">
      </div>
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
      {% endfor %}

      <h1>Sign Up</h1>
      {% from "proteomescout/helpers/formhelpers.html" import render_errors %}

      <div class="username">
        
        {{ form.username.label }}
        {{ form.username }}
        {{render_errors(form.username)}}
      </div>

      <div class="password">
        {{ form.password.label }}
        {{ form.password }}
        {{render_errors(form.password)}}
      </div>
      <div class="confirm">
        {{ form.confirm.label }}
        {{ form.confirm }}
        {{render_errors(form.confirm)}}
      </div>

      <h2>Contact Information</h2>

      <div class="name">
        {{ form.name.label }}
        {{ form.name(placeholder='John Smith') }}
        {{render_errors(form.name)}}
      </div>
      <div class="email">
        {{ form.email.label }}
        {{ form.email(placeholder='youremail@example.com') }}
        {{render_errors(form.email)}}
      </div>
      
      <div class="institution">
        {{ form.institution.label }}
        {{ form.institution }}
        {{render_errors(form.institution)}}
      </div>
      <div class="submitbutton">
        <input id="submit" type="submit" value="Submit">
      </div>
    </form>
    <div class="loginsignup">
      <span>Already have an account? <a href="{{ url_for('auth.login') }}">Log in.</a><span>
    </div>
  </div>
</div>
{% endblock %}